[Unit]
Description=POSTGRESCHK HTTP daemon
After=network.target

[Service]
User=postgres
Group=postgres
WorkingDirectory=/tmp
ExecStart=postgreschk -s
LimitAS=infinity
LimitRSS=infinity
LimitCORE=infinity
LimitNOFILE=65536
Restart=always

[Install]
WantedBy=multi-user.target
